/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:grey;
    font-family: Verdana, sans-serif;
}

/* HEADER */
header{
    background-color: white;
    padding: 15px;
}

.logo{   
    vertical-align: middle;
    height: 55px;
}

.brand{
    font-size: 50px;
    vertical-align: middle;
    font-weight: bold;    
}

/*  MAIN */
.container{
    width: 70%;
    margin: auto;
    background-color: #ffffff;
    margin-top: 40px;
}

.btn{
    display: inline-block;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 8px 12px;
    font-weight: bold
}

.color-1{
    background-color: #47adf1;
    color: white;
    border-color: #47adf1;
}

.color-2{
    background-color: #ffffff;
    color: #d7dbde;
    border-color: #d7dbde;
}

.separation{
    margin-top: 7px;
    margin-bottom: 30px;
}

ul{
    list-style-type: none;
}
